
<ul class="nav nav-column">
  <p class="nav-header">HERE</p>
  <li class="nav-item here-link">
    <a class="nav-link hello-link" href="#">Hello</a>
  </li>
  <li class="nav-item here-link">
    <a class="nav-link education-link" href="#">Education</a>
  </li>
  <li class="nav-item here-link">
    <a class="nav-link experience-link" href="#">Experience</a>
  </li>
  <li class="nav-item here-link">
    <a class="nav-link testimonials-link" href="#">Testimonials</a>
  </li>



<div class="there">
<p class="therelinks">THERE</p>
  <li class="nav-item thereli">
  Type: <%= mail_to 'erinnlspringer@gmail.com', 'erinnlspringer@gmail.com', target: "_blank" %>
  </li>
  <li class="nav-item thereli">
    Talk: 01638321242
  </li>
  <li class="nav-item thereli">
    Tweet: <%= link_to '@ErinnLSpringer', 'https://twitter.com/ErinnLSpringer', class: 'homepage-links', target: "_blank" %>
  </li>

  <li class="nav-item thereli">
    Read: <%= link_to 'Shedding Charlatans', 'https://sheddingcharlatans.com/', class: 'homepage-links', target: "_blank" %>
  </li>

  <li class="nav-item thereli">
   Code: <%= link_to 'Github', 'https://github.com/elspringer', class: 'homepage-links', target: "_blank" %>
  </li>
  <li class="nav-item thereli">
   Connect: <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/erinnlspringer/', class: 'homepage-links', target: "_blank" %>
  </li>

  </div>

</ul>

