<h2>Partner and Web Developer at Travelogue</h2>
<p class="education-info">Berlin, Germany — 05/2017 - present</p>
<ul>
  <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Designed and created the <%= link_to 'website', 'http://www.travelogue.co/' %>.</li>
  <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Organised and launched events for women only in Berlin.</li>
</ul>

<h2>Teacher & TA at Le Wagon</h2>
  <p class="education-info">Berlin, Germany — 07/2017 - 10/2017</p>
  <ul>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Gave lectures on Rails.</li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Helped students with Ruby, Rails, CSS and their final projects that they presented on their demo day.</li>
  </ul>
<h2>Web Developer at BlueBuzzard Technology Group</h2>
<p class="education-info">Chicago & Remote — 01/2015 – 02/2017</p>
<ul>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>Wireframed, designed and built Customer Relationship Management (CRM) software to be used for hotel sales and events.</li>
  <li>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>Conceptualized product features with the cofounders of the company, but mostly worked independently.
  </li>
  <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Prioritized and managed project needs to meet deadlines for features.</li>
</ul>

<h2>Founder and CEO at MakerHerSmile</h2>
  <p class="education-info">Chicago — 04/2014 – 01/2015 </p>
  <ul>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Started and launched personal gift giving service while in Starter School by testing prototypes, building a website and onboarding customers.</li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Learned about the use of emotional design, communicating clearly the purpose and goal of my service and worked with people individually to understand their personal needs.</li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>I touched everything: the code, the design, the words, the gift, the gift wrap and the card.</li>
  </ul>
  <h2>Marketing Coordinator at GoHealth</h2>
  <p class="education-info">Chicago, Illinois — 07/2009 – 10/2013</p>
  <ul>
    <li>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>Created and managed all email, texting, SEO, social media and public relation campaigns.
    </li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Lead and developed the content strategy for the website and press relations team.</li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Managed network of internal content writers and freelancers.</li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Organised and tracked visits in Omniture from SEO keywords, social media and public relations placements to identify places of improvement.</li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Created and tested email campaigns to increase visits and increased annual revenue from $10,000 to $250,000.</li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>Coordinated partner emails from certain health insurance providers.</li>
    <li><i class="fa fa-chevron-right" aria-hidden="true"></i>
      Collaborated directly with the cofounders and the <%= link_to "Corporate General Counsel", "http://www.huffingtonpost.com/author/brad-burd", target: "_blank" %> to create their content for public relations.</li>
  </ul>
  <p>Here are a couple samples of writing and media placements from when I still worked there:</p>
  <ul>
    <li>
      <%= link_to "Woman's Day", "http://www.womansday.com/health-fitness/womens-health/a5505/11-things-your-health-insurance-might-pay-for-116021/", target: "_blank" %>- 11 Things Your Health Insurance Might Pay For
    </li>
    <li><%= link_to "Forbes", "https://www.forbes.com/sites/sherylnancenash/2012/02/23/health-care-reform-the-unintended-impact-on-children/#14fd0b7a35df", target: "_blank"  %>- Health Care Reform: The Unintended Impact on Children</li>
    <li><%= link_to "Little Pink Book", "http://www.littlepinkbook.com/obamacare-and-your-bank-account/", target: "_blank" %>- Obamacare and Your Bank Account</li>
  </ul>
  <p>Guides and Infographics that I concepted with design team members:</p>
  <ul>
    <li>
      <%= link_to "Out-of-Pocket Health Care Costs and Tax Deductions", "https://www.gohealthinsurance.com/pdf/Health-Care-Tax-Deductions.pdf", target: "_blank" %>
    </li>
    <li> <%= link_to "The Whole Wide World is Confused about Their Health", "http://www.gohealthinsurance.com/blog-resources/world-health/", target: "_blank" %>
    </li>
    <li><%= link_to "Get Ready to Enroll", "http://www.gohealthinsurance.com/blog-resources/health-care-reform-enrollment/", target: "_blank" %>
    </li>
  </ul>

</div>
