<div class="page-wrapper">
  <div class="letter">
<h1 class="fancystuff">Hello Soundcloud <i class="fa fa-hand-peace-o" aria-hidden="true"></i></h1>
<p>I'm Erinn, a web developer, writer, digital marketer and digital rights and security nerd on the side. To be honest, I read your position for the Product Manager of User Safety & Anti-Abuse and geeked a little bit.</p>
<p>There are many reasons why I'd be a good fit for this role. Starting with my technical background, I have been a web developer for four years. I understand project cycles, building technology and the unplanned complexities that can arise -- like spam and abuse. </p>
<p>Also, in my spare time I read books like Technology Wrong by Sara Wachter-Boettcher and think about the digital microaggressions that I find online. I'm extremely interested in the interplay between society and tech, and how human biases are built into technology.</p>
<p>Lastly, I am a woman and firmly believe technology needs to do more to be more inclusive for women and people of color. This starts with more diverse teams. </p>

<p>With my technical skills, creative chops, experience managing projects, results oriented approach and love for music, I'd be a good fit for Soundcloud. </p>
<!-- <p>In the past I have worked independently and also on teams; sometimes this would occur as a collaborative office setting and at other times I was traveling the world as a digital nomad. Now I currently reside among the graffiti-laden streets of Neukölln.</p>
<p>I've put this website together to give you more information on my background and put together some ideas on how I'd go about approaching abuse at Soundcloud.</p> -->
<p>Thank you for the consideration and I look forward to scheduling an interview. Enjoy the rest of your <%= Date.today.strftime("%A") %>!</p>
<p>Best,
<p class="fancystuff homepagestuff">Erinn L Springer
</p>


Type — <%= mail_to 'erinnlspringer@gmail.com', 'erinnlspringer@gmail.com', target: "_blank"%>
<br>
Talk — (312)636-0793
<br>
Tweet — <%= link_to 'Twitter', 'https://twitter.com/ErinnLSpringer', target: "_blank" %>
<br>
Heart — <%= link_to 'Instagram', 'https://www.instagram.com/erinnlspringer/', target: "_blank"%>
<br>
Read — <%= link_to 'Medium', 'https://sheddingcharlatans.com/', target: "_blank" %>
<br>
Listen — <%= link_to 'Soundcloud', 'https://soundcloud.com/erinn-springer', target: "_blank" %>
<br>
Code — <%= link_to 'Github', 'https://github.com/elspringer', target: "_blank" %>

</div>
<div class="ideas">
  <h1 class="fancystuff">Ideas</h1>
  <h3 class="fancystuff">Review Abuse & Spam Data</h3>
  <p>Take an in-depth look at the data on abuse and spam complaints over a long time period. Then add any important feature changes, code pushes or other milestones to see if any of these udpates have caused upticks or changes in abuse and spam to understand historical changes.</p>
  <h3 class="fancystuff">Study the Different Types of Abuse</h3>
  <p>When starting, it'd be helpful to have specific examples of the type of abuse occurring on Soundcloud and then determine if there are common underlining patterns and then work to create different categories of abuse.</p>
  <h3 class="fancystuff">Talk to Individuals Who Have Experienced the Abuse</h3>
  <p>It's essential to get some first-hand accounts of how the abuse felt, how that individual handled it, how they felt Soundcloud handled the abuse and what they would wish to see in the future from Soundcloud. People who have experienced abuse should feel heard and they should also be designed for! If the current process is too laborious or if that individual had a hard time finding the information on how to handle the abuse, the current user experience or the language surrounding this topic may need a few tweaks.</p>
  <h3 class="fancystuff">Review Current Processes for Creating an Account</h3>
  <p>While working on this website, I tried to create a new Soundcloud account without using my Google or Facebook profiles. I gave up after spending 4 minutes to get the CAPTCHA to work. It'd be interesting to see how many people abandon creating an account when it comes to using the CAPTCHA. When did passing the CAPTCHA get so complicated?</p>
<!--   <h3 class="fancystuff">How are other companies handling abuse?</h3>
  <p>Take a comprehensive look at how other companies are succeeding and failing at handling abuse and spam on their platforms. Over the past year, there has been an emergence of information on this topic and it will only continue to grow.</p> -->
  <h3 class="fancystuff">Make This an Open Conversation</h3>
  <p>Many companies lack transparency when it comes to security and abuse policies. I think it's important to make this an open conversation and write blog posts about what Soundcloud is doing to combat abuse and spam. This will open the conversation with other companies and people who specialize in this field. It may also provide Soundcloud some positive and negative feedback that we can then take action on and improve within our own processes.</p>
  <h3 class="fancystuff">Rework Content on Site to be more Inclusive</h3>
  <p>There are ways to update content and rework forms to be ensure that the user experience is as inclusive as it can be.</p>
  <h3 class="fancystuff">Get Soundcloud Involved with the Security & Digital Rights Community</h3>
  <p>I attended the Internet Freedom Festival last year because I was becoming interested in digital rights, online privacy and inclusion on the internet. Soundcloud has an opportunity to get involved with this community and lead where most companies are failing on this front.</p>
</div>

<div class="education">
  <h1 class="fancystuff">Education</h1>

  <h2 class="fancystuff">Starter School</h2>
  <h3 class="fancystuff" >Web Development & Design</h3>
  <p class="education-info">Chicago, Illinois — 10/2013 to 05/2014</p>
  <p><i class="fa fa-angle-right" aria-hidden="true"></i> Attended a nine-month program that taught design, front-end and back-end development, user-experience, and business skills.
  <br><i class="fa fa-angle-right" aria-hidden="true"></i> Specific languages that I learned include: Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, CoffeeScript and more.
  <br><i class="fa fa-angle-right" aria-hidden="true"></i> Design skills learned include: wireframing, user stories, user testing, copy writing, content management and more.
  <br><i class="fa fa-angle-right" aria-hidden="true"></i> During this course I also launched a company called MakeHerSmile and started onboarding customers.
  <br><%= link_to "Visit Starter School's website", "http://www.starterschool.com/stories/erinn-barr", target: "_blank" %> to read more about my experience.
  </p>

  <h2 class="fancystuff">Purdue University</h2>
  <h3 class="fancystuff">Movement & Sports Science</h3>
  <p class="education-info">West Lafayette, Indiana — 08/2005 to 05/2009
  <p><i class="fa fa-angle-right" aria-hidden="true"></i> Spent four years at the Liberal Arts School and graduated with a major in Movement & Sport Science and a minor in Organizational Leadership. Shortly after, I landed a job in marketing in Chicago, which had little-to-nothing to do with what I studied.</p>
</div>

<div class="experience">
  <h1 class="fancystuff">Experience</h1>
  <h2 class="fancystuff">Web Designer & Developer, Erinn Springer</h2>
<p class="education-info">Berlin, Germany — 02/2017 to present</p>
<p class="fancystuff">Travelogue</p>
<ul>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Designed and created the <%= link_to 'website', 'http://www.travelogue.co/' %>.</li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Organised and launched events for women only in Berlin.</li>
</ul>

<p class="fancystuff">Teacher & TA at Le Wagon</p>
  <ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Gave lectures on Rails.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Helped students with Ruby, Rails, CSS and their final projects that they presented on their demo day.</li>
  </ul>
<h2 class="fancystuff">Web Developer, BlueBuzzard Technology Group</h2>
<p class="education-info">Chicago & Remote — 01/2015 to 02/2017</p>
<ul>
  <li>
    <i class="fa fa-angle-right" aria-hidden="true"></i> Wireframed, designed and built Customer Relationship Management (CRM) software to be used for hotel sales and events.</li>
  <li>
    <i class="fa fa-angle-right" aria-hidden="true"></i> Conceptualized product features with the cofounders of the company, but mostly worked independently.
  </li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Prioritized and managed project needs to meet deadlines for features.</li>
</ul>

<h2 class="fancystuff">Founder and CEO, MakerHerSmile</h2>
  <p class="education-info">Chicago — 04/2014 to 01/2015 </p>
  <ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Started and launched personal gift giving service while in Starter School by testing prototypes, building a website and onboarding customers.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Learned about the use of emotional design, communicating clearly the purpose and goal of my service and worked with people individually to understand their personal needs.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> I touched everything: the code, the design, the words, the gift, the gift wrap and the card.</li>
  </ul>
  <h2 class="fancystuff">Marketing Coordinator, GoHealth</h2>
  <p class="education-info">Chicago, Illinois — 07/2009 to 10/2013</p>
  <ul>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i> Created and managed all email, texting, SEO, social media and public relation campaigns.
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Lead and developed the content strategy for the website and press relations team.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Worked on user surveys for PR campaigns including:</li>
      <ul>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Individual and Family Health Insurance.
  Researching, Shopping and Buying Health
  Insurance: The Insurance Exchange Effect", "https://www.gohealthinsurance.com/media/gohealth-the-insurance-exchange.pdf" %></li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Medicare Viewpoints Survey", "https://www.gohealthinsurance.com/pdf/Medicare-Viewpoints-Survey.pdf" %></li>
      </ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Managed network of internal content writers and freelancers.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Organised and tracked visits in Omniture from SEO keywords, social media and public relations placements to identify places of improvement.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Created and tested email campaigns to increase visits and increased annual revenue from $10,000 to $250,000.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Wrote press releases and managed relationships with outside public relation agencies. Also worked with internal team to coordinate projects and postings of media coverage.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Coordinated partner emails from certain health insurance providers.</li>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i> Collaborated directly with the cofounders and the <%= link_to "Corporate General Counsel", "http://www.huffingtonpost.com/author/brad-burd", target: "_blank" %> to create their content for public relations.</li>
  </ul>
  <p>Here are a couple samples of writing and media placements from when I still worked there:</p>
  <ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>
      <%= link_to "Woman's Day", "http://www.womansday.com/health-fitness/womens-health/a5505/11-things-your-health-insurance-might-pay-for-116021/", target: "_blank" %>- 11 Things Your Health Insurance Might Pay For
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Forbes", "https://www.forbes.com/sites/sherylnancenash/2012/02/23/health-care-reform-the-unintended-impact-on-children/#14fd0b7a35df", target: "_blank"  %>- Health Care Reform: The Unintended Impact on Children</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Little Pink Book", "http://www.littlepinkbook.com/obamacare-and-your-bank-account/", target: "_blank" %>- Obamacare and Your Bank Account</li>
  </ul>
  <p>Guides and Infographics that I concepted with design team members:</p>
  <ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>
      <%= link_to "Out-of-Pocket Health Care Costs and Tax Deductions", "https://www.gohealthinsurance.com/pdf/Health-Care-Tax-Deductions.pdf", target: "_blank" %>
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "The Whole Wide World is Confused about Their Health", "http://www.gohealthinsurance.com/blog-resources/world-health/", target: "_blank" %>
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Get Ready to Enroll", "http://www.gohealthinsurance.com/blog-resources/health-care-reform-enrollment/", target: "_blank" %>
    </li>
  </ul>

</div>

<div class="testimonials">

  <h1 class="fancystuff">Testimonials</h1>
    <div class="row">
      <div class="col-sm-4"><%= image_tag "mark-colwell.jpg", class:'testimonial-photo' %></div>
      <div class="col-sm-7">
      <p>It's very hard to find people like Erinn -- driven, creative, and dependable. If ever I had the chance to refer or hire Erinn to my own company, I would do so in a heartbeat.</p>
      <p>Mark Colwell, Director of Marketing at <%= link_to "Procured Health", "https://procuredhealth.com/", target: "_blank" %> </p>
      </div>
    </div>

<div class="testimonial2 row">
    <div class="col-sm-4"><%= image_tag "brian-eng.jpg", class:'testimonial-photo' %></div>
    <div class="col-sm-7">
      <p>There's attention to detail, and then there's Erinn, who takes it to the next level. Even though she didn't understand much about our industry when we started working together, her curiosity and ability to ask the right questions meant I could always count on her to execute on whatever we needed.</p>
      <p>Brian Eng, <%= link_to "CEO of BlueBuzzard", "https://bluebuzzard.com", target: "_blank" %></p>
    </div>
  </div>


  <div class="testimonial2 testimonial3 row">
    <div class="col-sm-4"><%= image_tag "clairelew.jpg", class:'testimonial-photo testimonial4' %></div>
    <div class="col-sm-7">
      <p>For the past four years that I've known Erinn, I've observed this:  Erinn gets things done – period. She sets her mind to something, and she figures it out. As a business owner myself, watching her build her business from scratch was inspiring. Her propensity for action, instead of sitting around wondering what could be, is something I rarely find in others. Not to mention, she has a knack for thoughtful details and innovative approaches, whether it's in marketing her work in a unique way or creating a memorable experience for a client. Very selfishly, I wish I could hire Erinn for a role at my own company!</p>

     <p>Claire Lew, <%= link_to "CEO of Know Your Company", "https://knowyourcompany.com/", target: "_blank"  %></p>
    </div>
  </div>
</div>

