
<div class="page-wrapper">
  <div class="letter">
<h1 class="fancystuff slidinghome">Hello there <i class="fa fa-hand-paper-o" aria-hidden="true"></i></h1>
<p>I'm Erinn! A web developer, writer, digital marketer and <i>occasional</i> sashayer when I'm really feeling myself.</p>
<p>With my technical skills, creative chops and Millenial multitasking finesse, I have a well-rounded background of building and marketing products. </p>
<p>As a Web Developer & Designer, I have been able to prototype, design and build CRM software specifically for the hotel sales industry and also teach aspiring web developers. These experiences have taught me a lot about the interplay of technology lifecycles, emotional design and communication. </p>
<p>In my work as a Marketing Director, I always have my hands on multiple projects with many different point people. From working with the CEO and Founder for press relations, optimizing the company website, organizing and writing content interally or with freelance copywriters, to conceptualizing with designers and managing the social media accounts, I am constantly coordinating and organizing projects.</p>
<p>In the past I have worked independently and also on teams; sometimes this would occur in an office setting and at other times I was traveling the world as a digital nomad, but both required a great deal of collaboration and communication. Now I currently reside in Berlin.</p>
<p>Please click through the navbar to get a more in-depth view of my background and read some testimonials from a few delightful people.</p>
<p>Thank you for the consideration and I look forward to scheduling an interview. Enjoy the rest of your <%= Date.today.strftime("%A") %>!</p>
<p>Best & <i class="fa fa-hand-peace-o" aria-hidden="true"></i>,
</p>

<p class="fancystuff homepagestuff">Erinn Springer
</p>
<!-- <div class="erinnphotodiv">
  <%#= image_tag "ErinnSpringer_small.png", class: "erinnphoto" %>
  </div> -->


<!-- <br>
Type — <%#= mail_to 'erinnlspringer@gmail.com', 'erinnlspringer@gmail.com', target: "_blank" %>
<br>
Talk — (312)636-0793
<br>
Tweet — <%#= link_to 'Twitter', 'https://twitter.com/ErinnLSpringer', class: 'homepage-links', target: "_blank" %>
<br>
Heart — <%#= link_to 'Instagram', 'https://www.instagram.com/erinnlspringer/', target: "_blank"%>
<br>
Read — <%#= link_to 'Medium', 'https://sheddingcharlatans.com/', class: 'homepage-links', target: "_blank" %>
<br>
Listen — <%#= link_to 'Soundcloud', 'https://soundcloud.com/erinn-springer', class: 'homepage-links', target: "_blank" %>
<br>
Code — <%#= link_to 'Github', 'https://github.com/elspringer', class: 'homepage-links', target: "_blank" %> -->

</div>

<div class="education">
  <h1 class="fancystuff">Education</h1>

  <h2 class="fancystuff">Starter School</h2>
  <h3 class="fancystuff" >Web Development & Design</h3>
  <p class="education-info">Chicago, Illinois — 10/2013 to 05/2014</p>
  <p><i class="fa fa-angle-right" aria-hidden="true"></i> Attended a nine-month program that taught design, front-end and back-end development, user-experience, and business skills.
  <br><i class="fa fa-angle-right" aria-hidden="true"></i> Specific languages that I learned include: Ruby on Rails, HTML5, CSS3, JavaScript, JQuery, CoffeeScript and more.
  <br><i class="fa fa-angle-right" aria-hidden="true"></i> Design skills learned include: wireframing, user stories, user testing, copy writing, content management and more.
  <br><i class="fa fa-angle-right" aria-hidden="true"></i> During this course I also launched a company called MakeHerSmile and started onboarding customers.
  <br><%= link_to "Visit Starter School's website", "http://www.starterschool.com/stories/erinn-barr", target: "_blank" %> to read more about my experience.
  </p>

  <h2 class="fancystuff">Purdue University</h2>
  <h3 class="fancystuff">Movement & Sports Science</h3>
  <p class="education-info">West Lafayette, Indiana — 08/2005 to 05/2009
  <p><i class="fa fa-angle-right" aria-hidden="true"></i> Spent four years at the Liberal Arts School and graduated with a major in Movement & Sport Science and a minor in Organizational Leadership. Shortly after, I landed a job in marketing in Chicago, which had little-to-nothing to do with what I studied.</p>
</div>

<div class="experience">
  <h1 class="fancystuff">Experience</h1>
 <h2 class="fancystuff">Marketing Director, ThePowerHouse & ElektroCouture</h2>
 <p class="education-info">Berlin, Germany — 05/2018 to present</p>
<p>ElektroCouture</p>
<ul>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Worked with the Creative Director to rebrand and design the new website.</li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Wrote all new content, developed and launched <%= link_to "https://elektrocouture.com", "https://elektrocouture.com/", target: "_blank" %>.</li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Archived all old photos to restart the <%= link_to "Instagram feed", "https://www.instagram.com/ElektroCouture/", target: "_blank" %> so photos would fit the design and feel of the new brand.</li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Sent biweekly newsletters to subscribers.</li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Handled, scheduled and provided content for all PR and event requests.</li>
</ul>
<p>ThePowerHouse</p>
<ul>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Rebranded, designed, developed and launched <%= link_to "https://thepowerhouse.group", "https://thepowerhouse.group/", target: "_blank" %>.</li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Wrote all new content on internal pages and regular blog posts.</li>

  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Researched and wrote an entire series called the <%= link_to "Future Fashion & Mobility Trend Report", "https://thepowerhouse.group/mobility-series", target: "_blank" %>.</li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Managed all PR and event requests.</li>
</ul>
  <h2 class="fancystuff">Web Designer & Developer, Erinn Springer</h2>
<p class="education-info">Berlin, Germany — 02/2017 to present</p>

<p class="fancystuff">Travelogue</p>
<ul>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Designed and created the website.</li>
  <li><i class="fa fa-angle-right" aria-hidden="true"></i> Organised and launched events for women only in Berlin.</li>
</ul>

<p class="fancystuff">Teacher & TA at Le Wagon</p>
  <ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Gave lectures on Rails.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Helped students with Ruby, Rails, CSS and their final projects that they presented on their demo day.</li>
  </ul>
<h2 class="fancystuff">Web Designer & Developer, BlueBuzzard Technology Group</h2>
<p class="education-info">Chicago & Remote — 01/2015 to 02/2017</p>
<ul>
  <li>
    <i class="fa fa-angle-right" aria-hidden="true"></i> Learned about the hotel sales and events lifecycles and communication touchpoints to create a roadmap and user stories for building Customer Relationship Management (CRM) software.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Conceptualized product features with the cofounders of the company, but mostly worked independently.
    </li>
    <li>
    <i class="fa fa-angle-right" aria-hidden="true"></i> Created wireframes and prioritized features.
    <li>
    <i class="fa fa-angle-right" aria-hidden="true"></i> Conducted user tests once a new feature was launched to either reiterate, make improvements or move on to the next feature.</li>
  <li>
    <i class="fa fa-angle-right" aria-hidden="true"></i> Designed and built CRM software onto existing codebase.</li>
    <li>
    <i class="fa fa-angle-right" aria-hidden="true"></i> Built out requests from existing customers and helped move current customers over to the new product features.</li>
</ul>

<h2 class="fancystuff">Founder and CEO, MakerHerSmile</h2>
  <p class="education-info">Chicago — 04/2014 to 01/2015 </p>
  <ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Started and launched personal gift giving service while in Starter School by testing prototypes, building a website and onboarding customers.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Learned about the use of emotional design, communicating clearly the purpose and goal of my service and worked with people individually to understand their personal needs.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> I touched everything: the code, the design, the words, the gift, the gift wrap and the card.</li>
  </ul>
  <h2 class="fancystuff">Marketing Coordinator, GoHealth</h2>
  <p class="education-info">Chicago, Illinois — 07/2009 to 10/2013</p>
  <ul>
    <li>
      <i class="fa fa-angle-right" aria-hidden="true"></i> Created and managed all email, texting, SEO, social media and public relation campaigns.
    </li>
    <i class="fa fa-angle-right" aria-hidden="true"></i> Wrote hundreds of blog posts and am still listed as a <%= link_to "blog writer", "https://blog.gohealthinsurance.com/blog/about-us", target: "_blank" %>.
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Lead and developed the content strategy for the website and press relations team.</li>

    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Managed network of internal content writers and external freelancers.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Organised and tracked visits in Omniture from SEO keywords, social media and public relations placements to identify places of improvement.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Created and tested email campaigns to increase visits and increased annual revenue from $10,000 to $250,000.</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> Wrote press releases and managed relationships with outside public relation agencies. Also worked with internal team to coordinate projects and postings of media coverage.</li>
  </ul>
  <p>Here are a couple samples of writing and media placements from when I still worked there:</p>
  <ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>
      <%= link_to "Woman's Day", "http://www.womansday.com/health-fitness/womens-health/a5505/11-things-your-health-insurance-might-pay-for-116021/", target: "_blank" %>- 11 Things Your Health Insurance Might Pay For
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Forbes", "https://www.forbes.com/sites/sherylnancenash/2012/02/23/health-care-reform-the-unintended-impact-on-children/#14fd0b7a35df", target: "_blank"  %>- Health Care Reform: The Unintended Impact on Children</li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Little Pink Book", "http://www.littlepinkbook.com/obamacare-and-your-bank-account/", target: "_blank" %>- Obamacare and Your Bank Account</li>
  </ul>
  <p>Guides and Infographics that I concepted with design team members:</p>
  <ul>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i>
      <%= link_to "Out-of-Pocket Health Care Costs and Tax Deductions", "https://www.gohealthinsurance.com/pdf/Health-Care-Tax-Deductions.pdf", target: "_blank" %>
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "The Whole Wide World is Confused about Their Health", "http://www.gohealthinsurance.com/blog-resources/world-health/", target: "_blank" %>
    </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Get Ready to Enroll", "http://www.gohealthinsurance.com/blog-resources/health-care-reform-enrollment/", target: "_blank" %>
    </li>
  </ul>
  <p>Worked on user surveys for PR campaigns including:</p>
      <ul>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Individual and Family Health Insurance.
  Researching, Shopping and Buying Health
  Insurance: The Insurance Exchange Effect", "https://www.gohealthinsurance.com/media/gohealth-the-insurance-exchange.pdf" %></li>
      <li><i class="fa fa-angle-right" aria-hidden="true"></i> <%= link_to "Medicare Viewpoints Survey", "https://www.gohealthinsurance.com/pdf/Medicare-Viewpoints-Survey.pdf" %></li>
      </ul>

</div>

<div class="testimonials">

  <h1 class="fancystuff">Testimonials</h1>
    <div class="row">
      <div class="col-sm-4"><%= image_tag "mark-colwell.jpg", class:'testimonial-photo' %></div>
      <div class="col-sm-7">
      <p>It's very hard to find people like Erinn -- driven, creative, and dependable. If ever I had the chance to refer or hire Erinn to my own company, I would do so in a heartbeat.</p>
      <p>Mark Colwell, Director of Marketing at <%= link_to "Procured Health", "https://procuredhealth.com/", target: "_blank" %> </p>
      </div>
    </div>

<div class="testimonial2 row">
    <div class="col-sm-4"><%= image_tag "brian-eng.jpg", class:'testimonial-photo' %></div>
    <div class="col-sm-7">
      <p>There's attention to detail, and then there's Erinn, who takes it to the next level. Even though she didn't understand much about our industry when we started working together, her curiosity and ability to ask the right questions meant I could always count on her to execute on whatever we needed.</p>
      <p>Brian Eng, <%= link_to "CEO of BlueBuzzard", "https://bluebuzzard.com", target: "_blank" %></p>
    </div>
  </div>


  <div class="testimonial2 testimonial3 row">
    <div class="col-sm-4"><%= image_tag "clairelew.jpg", class:'testimonial-photo testimonial4' %></div>
    <div class="col-sm-7">
      <p>For the past four years that I've known Erinn, I've observed this:  Erinn gets things done – period. She sets her mind to something, and she figures it out. As a business owner myself, watching her build her business from scratch was inspiring. Her propensity for action, instead of sitting around wondering what could be, is something I rarely find in others. Not to mention, she has a knack for thoughtful details and innovative approaches, whether it's in marketing her work in a unique way or creating a memorable experience for a client. Very selfishly, I wish I could hire Erinn for a role at my own company!</p>

     <p>Claire Lew, <%= link_to "CEO of Know Your Company", "https://knowyourcompany.com/", target: "_blank"  %></p>
    </div>
  </div>
</div>

