<h1>Ideas for Girls Are Awesome</h1>

<h3>Partner with Native Instruments to share stories of women djs.</h3>
<p> <%= link_to 'Alinka Ratner', 'https://www.residentadvisor.net/dj/alinka/biography' %> recently posted about passing the torch and selling her old dj equipment to another woman. A video featuring Alinka, her cat (Acid), and the woman who she sold the equipment to would be worth sharing. The other week a panel at Native Instruments discussed the need to do more to target and market to women. Right now 95% of their customers are white males.</p>
<%= image_tag "alink.png", class:'testimonial-photo' %>
<h3>Profile on Hamburg Naming New Streets After Germany's Most Famous Dom and Other Women</h3>
<p>Domenica Niehoff campaigned for the rights of sex workers and helped women suffering with drug addiction. Ten other streets were named after famous women. Unfortunately, this is news.</p>

<h3>Features on Paula Alamillo Rodriguez and Marit Östberg.</h3>
<p>Have a profile on these two women and what they are doing for the European porn scene. Maybe have an event screening new or past films.
</p>

<h3>Build out the store to include more products and collaborations with:</h3>
<li><%= link_to 'Vichcraft', 'http://www.vichcraft.com/' %></li>
<li> <%= link_to 'Kaye Blegvard', 'https://shop.kayeblegvad.com/' %></li>
<li> <%= link_to 'Working Girls', 'http://www.workinggirlsco.com/' %></li>
<li>  <%= link_to 'Stefanie Boyd-Berks', 'http://stefanieboyd-berks.com/' %></li>
