<div class="page-wrapper bannerless-wrapper">
  <h1 class="period-story">Testimonials</h1>
    <div class="testimonial row">
      <div class="col-sm-4"><%= image_tag "mark-colwell.jpg", class:'testimonial-photo' %></div>
      <div class="col-sm-7">
      <p>It's very hard to find people like Erinn -- driven, creative, and dependable. If ever I had the chance to refer or hire Erinn to my own company, I would do so in a heartbeat.</p>
      <p>Mark Colwell, Director of Marketing at <%= link_to "Procured Health", "https://procuredhealth.com/", target: "_blank" %> </p>
      </div>
    </div>

<div class="testimonial2 row">
    <div class="col-sm-4"><%= image_tag "brian-eng.jpg", class:'testimonial-photo' %></div>
    <div class="col-sm-7">
      <p>There's attention to detail, and then there's Erinn, who takes it to the next level. Even though she didn't understand much about our industry when we started working together, her curiosity and ability to ask the right questions meant I could always count on her to execute on whatever we needed.</p>
      <p>Brian Eng,  <%= link_to "CEO of BlueBuzzard", "https://bluebuzzard.com", target: "_blank" %></p>
    </div>
  </div>

  <div class="testimonial2 row">
    <div class="col-sm-4"><%= image_tag "clairelew.jpg", class:'testimonial-photo' %></div>
    <div class="col-sm-7">
      <p>For the past four years that I've known Erinn, I've observed this:  Erinn gets things done – period. She sets her mind to something, and she figures it out. As a business owner myself, watching her build her business from scratch was inspiring. Her propensity for action, instead of sitting around wondering what could be, is something I rarely find in others. Not to mention, she has a knack for thoughtful details and innovative approaches, whether it's in marketing her work in a unique way or creating a memorable experience for a client. Very selfishly, I wish I could hire Erinn for a role at my own company!</p>

     <p>Claire Lew, <%= link_to "CEO of Know Your Company", "https://knowyourcompany.com/", target: "_blank"  %></p>
    </div>
  </div>
